<h3>Your API-key:</h3>
<p><span><%= @key.key %></span> <span class="right"><%= link_to "Delete account", users_destroy_path(@current_user.id), method: :delete,  data: {confirm: 'Your account and API-key will be deleted, are you sure you want to proceed?'} %></span></p>

<% if is_admin? %>
	<h2>All users</h2>
	<% @users.each do |user| %>
		<strong><%= user.email %></strong> <span class="right"><%= user.key.key %> <%= link_to "Delete account", users_destroy_path(user), method: :delete, data: {confirm: 'This API-key and account will be deleted, are you sure you want to proceed?'} %></span><br>
	<% end %>
<% end %>
