<!doctype html>
<html>
<head>
  <title>Keyholder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Keyholder</h1>

    <nav>
      <% if @current_user %>
        <%= link_to "Log out", logout_path %>
      <% else %>
        <%= link_to "Login", root_path %>
        <%= link_to "Register", new_user_path %>
      <% end %>
    </nav>
  </header>

  <article>
    <% flash.each do |type, message| %>
      <div class="alert flash alert-info <%= type %>" role="alert">
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
  </article>

  <footer>
    <p>&copy; Made by <a href="http://wheresmar.co">Marco Hyyryläinen</a></p>
  </footer>
</body>
</html>
